<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <title>THX Authentication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png?v=pgdmXmoa2w">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png?v=pgdmXmoa2w">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png?v=pgdmXmoa2w">
    <link rel="manifest" href="/site.webmanifest?v=pgdmXmoa2w">
    <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg?v=pgdmXmoa2w" color="#5bbad5">
    <link rel="shortcut icon" href="/img/icons/favicon.ico?v=pgdmXmoa2w">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script src="https://kit.fontawesome.com/06b7267748.js" crossorigin="anonymous"></script>
</head>

<body class="d-lg-flex w-100 h-100 bg-light align-items-center justify-content-center">
    <div class="container">
        <div class="row pt-sm-5 pb-sm-5">
            <div class="col-lg-6 d-flex align-items-center order-1 order-lg-0">
                <ul class="list-group" style="list-style: none;">
                    <li class="mb-3">
                        <div class="d-flex">
                            <div class="pr-2"><i class="fas fa-check-circle text-primary" aria-hidden="true"></i></div>
                            <div><strong>Fast &amp; free transactions</strong><br> Our side-chain provides fast and free
                                transactions for your end-users. </div>
                        </div>
                    </li>
                    <li class="mb-3">
                        <div class="d-flex">
                            <div class="pr-2"><i class="fas fa-check-circle text-primary" aria-hidden="true"></i></div>
                            <div><strong>Seamless Integration</strong><br> Great documentation, the right tooling and
                                all the endpoints for your application interact with. </div>
                        </div>
                    </li>
                    <li class="mb-3">
                        <div class="d-flex">
                            <div class="pr-2"><i class="fas fa-check-circle text-primary" aria-hidden="true"></i></div>
                            <div><strong>Secure</strong><br> We provide best-in-class key management and key backup
                                solutions for your users. </div>
                        </div>
                    </li>
                    <li class="mb-3">
                        <div class="d-flex">
                            <div class="pr-2"><i class="fas fa-check-circle text-primary" aria-hidden="true"></i></div>
                            <div><strong>Modular</strong><br> Your application is flexible thanks to our modular
                                architecture. </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 order-0 order-lg-1 pt-3">
                <div class="card shadow-lg mb-5">
                    <div class="card-body p-sm-5">
                        <% if (alert && alert.message && alert.variant==='danger' ) { %>
                            <div class="alert alert-<%= alert.variant %>">
                                <%= alert.message %>
                            </div>
                            <% } %>
                                <% if (alert && alert.message && alert.variant==='success' ) { %>
                                    <div class="alert alert-<%= alert.variant %>">
                                        <%= alert.message %>
                                    </div>
                                    <% } else { %>
                                        <p class="alert alert-primary">
                                            &#x1f973; <strong>We are in beta!</strong> Start for free on
                                            testnet and worry about
                                            pricing later.
                                        </p>
                                        <form autocomplete="off" action="/interaction/<%= uid %>/create" method="post">
                                            <div class="form-group">
                                                <label>E-mail:</label>
                                                <input class="form-control" required type="email" name="email">
                                            </div>
                                            <div class="form-group">
                                                <label>Password:</label>
                                                <input class="form-control" required type="password" name="password">
                                            </div>
                                            <div class="form-group">
                                                <label>Password again:</label>
                                                <input class="form-control" required type="password"
                                                       name="confirmPassword">
                                            </div>
                                            <div class="form-group">
                                                <div class="m-0 custom-control custom-checkbox b-custom-control-sm">
                                                    <input id="acceptTermsPrivacy" type="checkbox"
                                                           name="acceptTermsPrivacy" class="custom-control-input"
                                                           value="true"><label for="acceptTermsPrivacy"
                                                           class="custom-control-label"> I agree to
                                                        THX' <a href="<%= publicUrl %>/general-terms-and-conditions.pdf"
                                                           target="_blank">terms of use</a> and <a
                                                           href="<%= publicUrl %>/privacy-policy.pdf"
                                                           target="_blank">privacy statement</a></label>
                                                </div>
                                                <div class="custom-control custom-checkbox b-custom-control-sm"><input
                                                           id="acceptUpdates" type="checkbox" name="acceptUpdates"
                                                           class="custom-control-input" value="true"><label
                                                           for="acceptUpdates" class="custom-control-label"> Opt-in to
                                                        receive updates from THX on its products, you can opt-out at any
                                                        time. </label></div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <button type="submit"
                                                            class="btn btn-rounded mt-3 btn-primary btn-block"> Sign-up
                                                    </button>
                                                    <a class="btn btn-block btn-link"
                                                       href="/interaction/<%= uid %>/abort">Cancel</a>
                                                </div>
                                            </div>
                                        </form>
                                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>